<nav class="navbar-fluid navbar-default navbar-fixed-top">
  <div class="container">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand"> Cheap Eats </a>
    <a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()" class="navbar-right navbar-text">Log in</a>
    <a href="#" (click)="auth.logout()" *ngIf="auth.authenticated() && auth.userProfile" class="navbar-right navbar-text">Log out</a>
    <a routerLink="/addPost" routerLinkActive="active" *ngIf="auth.authenticated() && auth.userProfile && isRetailer()" class="navbar-right navbar-text">Add Food Post</a>
    <a (click)="favourites()" routerLinkActive="active" *ngIf="auth.authenticated() && auth.userProfile" class="navbar-right navbar-text">Favourite Retailers</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a routerLink="/privacy" routerLinkActive="active">Security and Privacy</a>
          </li>
          <li>
            <a routerLink="/dmca" routerLinkActive="active">DMCA Notice</a>
          </li>
          <li>
            <a routerLink="/takedown" routerLinkActive="active">Takedown Policy</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Cheap Eats 2016. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
