<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>DMCA Notice</h1>
      <p>
        In accordance with the DMCA, Cheap Eats has adopted the general policy below toward copyright infringement. Remember that your use of Cheap Eats’s Services is at all times subject to the Terms of Service, which incorporates this DMCA Takedown Policy. Any terms we use here without defining them have the definitions given to them in the Terms of Service. The address of Cheap Eats’s Designated Agent to Receive Notification of Claimed Infringement ("Designated Agent") is listed at the end of this Policy. Cheap Eats respects the intellectual property rights of others and expects you to do the same. We reserve the right to (1) block access to or remove material that we believe in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users and (2) remove and discontinue service to repeat offenders. 
        <br><br>
        <b>1.	Procedure for Reporting Copyright Infringements</b> 
        <br><br>
        a.	A physical or electronic signature is required of whomever is approved to act on behalf of the copyright that has been allegedly infringed upon;
        <br><br>
        b.	Identification of the work/material that is being infringed upon;
        <br><br>
        c.	Identification of material that is being accused of infringing the above material. As much detail as possible will be needed to allow Cheap Eats to acquire the information needed to identify the infringing materials existence;
        <br><br>
        d.	Contact information including address, telephone number, and email address.
        <br><br>
        e.	A statement made verifying that the information provided is accurate and truthful under the penalty of perjury.
      </p>
    </div>
  </div>
</div>
