<header class="about">
  <div class="about-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="brand-heading">Cheap Eats</h1>
          <p class="about-text">
              Buy the surplus food from groccery stores, restaurants, bakeries, and cafes at steep discounts.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-md-offset-1 col-md-9">
  <div class="container">
    <div class="row">
      <div class="col-md-3 food-post">
        Food Post
      </div>
      <div class="col-md-3 food-post">
        Food Post
      </div>
      <div class="col-md-3 food-post">
        Food Post
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 food-post">
        Food Post
      </div>
      <div class="col-md-3 food-post">
        Food Post
      </div>
      <div class="col-md-3 food-post">
        Food Post
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 food-post">
        Food Post
      </div>
      <div class="col-md-3 food-post">
        Food Post
      </div>
        <div class="col-md-3 food-post">
        Food Post
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 food-post">
        Food Post
      </div>
        <div class="col-md-3 food-post">
        Food Post
      </div>
        <div class="col-md-3 food-post">
        Food Post
      </div>
    </div>
  </div>
</div>