<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Takedown Policy</h1>
      <p>
        Guitar Tab Central has adopted this general policy related to the material residing on Guitar Tab Central. If you have concerns about content or other material residing on a Guitar Tab Central, please contact us at abuse@tabcentral.com. 
        Guitar Tab Central prohibits the use of Guitar Tab Centrals web service to create, store, or disseminate content that: 
        <br><br>
        1. Is unlawful, obscene, defamatory, libelous, threatening, pornographic, vulgar, harassing, hateful, racially or ethnically offensive; 
        <br><br>
        2. Encourages conduct that could be considered a criminal offense, give rise to civil liability, violate any law, or is or could otherwise be harmful, inappropriate, or dangerous; 
        <br><br>
        3. violates any law, regulation, treaty, or third party right (including, without limitation, trade secret, intellectual property, privacy, or publicity rights)
      </p>
    </div>
  </div>
</div>