<div class="col-md-offset-2 col-md-8" *ngIf=post>
  <form #postForm="ngForm" class="form-auth">
		<h2>Edit Food Post</h2>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" placeholder="Enter the name of the food" id="name" 
         [(ngModel)]="post.foodName" name="name" #name="ngModel">
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="number" class="form-control" placeholder="Enter the price of the food" id="price" 
         [(ngModel)]="post.price" name="price" #price="ngModel">
		</div>
    <div class="form-group">
      <label for="expiryDate">Expiry Date</label>
      <input type="date" class="form-control" id="expiryDate" 
         [(ngModel)]="post.expiryDate" name="expiryDate" #expiryDate="ngModel">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Enter the description of the food"
         [(ngModel)]="post.description" name="description" #description="ngModel">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" accept="image/*" class="form-control" id="image" 
         (change)="changeListener($event)" name="image" #image>
    </div>
		<button type="submit" class="btn btn-default" (click)="postFood(); postForm.reset()">Submit</button>
	</form>
</div>